/* medve változzon fehér/piros medvére amikor hoverelek header h1-ra */
/* footer LEGVÉGÉN pozicionálni mert így ugrál összevissza */
/* megformázni a popupot */
/* többi instruction digical */

body{
    background-image: url("images/berlinFinal.png");
    background-size: 1400px;
    font-family: monospace;
    margin:0;
    padding:0;
    position:relative; 
}

header h1{
    background-color:yellow;
    font-family:Courier;
    margin:0;
    padding: 3px;
    transition: 0.3s;
}

header h1:hover{
    background-color: black;
    color:white;
} 

#bear{
    width: 30px;
    position:absolute;
    top:6px;
    left:400px;
}

/* form-popup*/
.form-popup{
    display:none;
    background-color:black;
    color:yellow;
    width:320px;
    padding:10px;
}
.form-popup p{
    color:white;
    text-align:justify;
}

.form-popup a{
    text-decoration:none;
    color:white;
    text-decoration:underline;
}

.form-popup a:hover{
    color:yellow;
}

.cancel{
    font-family: monospace;
    background-color: white;
    border: none;
    float:right;
}

.cancel:hover{
    background-color:red;
    color:white;
}

/*form-popup*/

#curry-pop{
    position:absolute;
    top:145px;
    right: 185px;
}

#curry-icon{
    position:absolute;
    top:245px;
    left:695px;
    width:60px;
}

#hostel-pop{
    position:absolute;
    top:110px;
    left:225px;
}

#hostel-icon{
    position:absolute;
    top:240px;
    left:590px;
    width:95px;
}

#burger-pop{
    position:absolute;
    top:600px;
    right:485px;
}

#burger-icon{
    position:absolute;
    top:505px;
    right:520px;
    width:80px;
}

#disko-pop{
    position:absolute;
    top:350px;
    right:30px;
}

#disko-icon{
    position:absolute;
    top:380px;
    right:400px;
    width:80px;
}

#kebab-pop{
    position:absolute;
    top:335px;
    left:70px;
}

#kebab-icon{
    position:absolute;
    top:140px;
    left:150px;
    width:72px;
}

#dome-pop{
    position:absolute;
    top:450px;
    left:450px;
}

#dome-icon{
    position:absolute;
    top:365px;
    left:675px;
    width:80px;
}

#thai-pop{
    position:absolute;
    top:505px;
    left:300px;
}

#thai-icon{
    position:absolute;
    top:505px;
    left:150px;
    width:120px;
}

.icon{
    width:60px;
    transition: all .2s ease-in-out;
}

.icon:hover{
    transform:scale(1.4)
}
/*footer*/
footer{
    background-color:red;
    width: 50px;
    float:right;
    padding: 6px;
    margin-top: 591px;
    transition: width 1s;
}

footer:hover {
    width: 100px;
  }
