/* medve változzon fehér/piros medvére amikor hoverelek header h1-ra */
/* footer LEGVÉGÉN pozicionálni mert így ugrál összevissza */
/* megformázni a popupot */
/* többi instruction digical */

body{
    background-image: url("images/berlinCloser.png");
    background-size: 1400px;
    font-family: monospace;
    margin:0;
    padding:0;
    position:relative;
}

header h1{
    background-color:yellow;
    font-family:Courier;
    margin:0;
    padding: 3px;
    transition: 0.3s;
}

header h1:hover{
    background-color: black;
    color:white;
} 

#bear{
    width: 30px;
    position:absolute;
    top:6px;
    right:870px;
}

/* form-popup*/
.form-popup{
    display:none;
    background-color:black;
    color:yellow;
    width:320px;
    padding:10px;
}
.form-popup p{
    color:white;
    text-align:justify;
}

.form-popup a{
    text-decoration:none;
    color:white;
    text-decoration:underline;
}

.form-popup a:hover{
    color:yellow;
}

.cancel{
    font-family: monospace;
    background-color: white;
    border: none;
    float:right;
}

.cancel:hover{
    background-color:red;
    color:white;
}

/*form-popup*/

#curry-pop{
    position:absolute;
    top:145px;
    left:720px;
}

#curry-icon{
    position:absolute;
    top:260px;
    left:650px;
    width:50px;
}

#hostel-pop{
    position:absolute;
    top:110px;
    left:200px;
}

#hostel-icon{
    position:absolute;
    top:240px;
    left:580px;
    width: 65px;
}

#burger-pop{
    position:absolute;
    top:535px;
    right: 450px;
}

#burger-icon{
    position:absolute;
    top:535px;
    right:350px;
    width:65px;
}

#disko-pop{
    position:absolute;
    top:260px;
    left:920px;
}

#disko-icon{
    position:absolute;
    top:420px;
    right:260px;
    width:60px;
}

.icon{
    width:60px;
    transition: all .2s ease-in-out;
}

.icon:hover{
    transform:scale(1.4)
}
/*footer*/
footer{
    background-color:red;
    width: 50px;
    float:right;
    padding: 2px;
    margin-top: 610px;
    transition: width 1s;
}

footer:hover {
    width: 100px;
  }
